body{

background-color: rgb(18, 153, 86);
font-family: arial;
}

.texto-1{
color:black;

}

button{
height: 65px;
width: 200px;
color: white;
background-color: green;
border-radius: 5px;
cursor: pointer;
transition: transform 200ms ease-in-out;

}
.img4{

padding-right: 200px;


}   
button:hover{
transform: scale(1.05)


}
.img4{
display: block;
padding-top: 20px;
}